# MÓDULO 14 - PRÁTICA: PRÉ-PROCESSAMENTO DE DADOS - TELECOM

## Questão 1: Verifique e ajuste os tipos de dados

In [ ]:

import pandas as pd

# Carregando o CSV
df = pd.read_csv("CHURN_TELECON_MOD08_TAREFA.csv", sep=';')

# Ajustando tipos
df['Pagamento_Mensal'] = pd.to_numeric(df['Pagamento_Mensal'], errors='coerce')
df['Total_Pago'] = pd.to_numeric(df['Total_Pago'], errors='coerce')
df['Tempo_como_Cliente'] = pd.to_numeric(df['Tempo_como_Cliente'], errors='coerce')
df['Idoso'] = df['Idoso'].astype('int64')

df.dtypes

customerID             object
Genero                 object
Idoso                   int64
Casado                 object
Dependents             object
Tempo_como_Cliente      int64
PhoneService           object
Servico_Internet       object
Servico_Seguranca      object
Suporte_Tecnico        object
StreamingTV            object
Tipo_Contrato          object
PaymentMethod          object
Pagamento_Mensal      float64
Total_Pago            float64
Churn                  object
dtype: object

## Questão 2-A: Verifique valores ausentes e percentual por coluna

In [7]:

# Verificando nulos
faltantes = df.isnull().sum()
percentual = (faltantes / len(df)) * 100
pd.DataFrame({'Total Nulos': faltantes, '% Nulos': percentual.round(2)})

                    Total Nulos  % Nulos
customerID                    0     0.00
Genero                       12     0.48
Idoso                         0     0.00
Casado                        0     0.00
Dependents                    0     0.00
Tempo_como_Cliente            0     0.00
PhoneService               1482    59.28
Servico_Internet              0     0.00
Servico_Seguranca             0     0.00
Suporte_Tecnico               0     0.00
StreamingTV                   0     0.00
Tipo_Contrato                 0     0.00
PaymentMethod                 0     0.00
Pagamento_Mensal            325    13.00
Total_Pago                    0     0.00
Churn                         5     0.20

## Questão 2-B: Exclusão de valores nulos quando justificável

In [8]:

df = df[df['Genero'].notnull()]
df = df[df['Churn'].notnull()]
df.isnull().sum()

customerID               0
Genero                   0
Idoso                    0
Casado                   0
Dependents               0
Tempo_como_Cliente       0
PhoneService          1482
Servico_Internet         0
Servico_Seguranca        0
Suporte_Tecnico          0
StreamingTV              0
Tipo_Contrato            0
PaymentMethod            0
Pagamento_Mensal       313
Total_Pago               0
Churn                    0
dtype: int64

## Questão 2-C: Preenchimento de nulos com mediana ou moda

In [2]:
#substituindo os valores nulos
df['Pagamento_Mensal'] = df['Pagamento_Mensal'].fillna(df['Pagamento_Mensal'].median())
df['PhoneService'] = df['PhoneService'].fillna(df['PhoneService'].mode()[0])


df.isnull().sum().sum()

NameError: name 'df' is not defined

## Questão 3: Correção de inconsistências textuais

In [10]:

# Padronizando textos
colunas_obj = df.select_dtypes(include='object').columns
for col in colunas_obj:
    df[col] = df[col].str.strip().str.lower()

# Corrigindo genero
df['Genero'] = df['Genero'].replace({'f': 'female', 'm': 'male'})
df['Genero'].unique()

array(['female', 'male'], dtype=object)

## Questão 4 [Extra]: Renomeando colunas para padrão em português

In [6]:

df.rename(columns={
    'customerID': 'id_cliente',
    'Genero': 'genero',
    'Idoso': 'idoso',
    'Casado': 'casado',
    'Dependents': 'dependentes',
    'Tempo_como_Cliente': 'tempo_como_cliente',
    'PhoneService': 'servico_telefonico',
    'Servico_Internet': 'servico_internet',
    'Servico_Seguranca': 'servico_seguranca',
    'Suporte_Tecnico': 'suporte_tecnico',
    'StreamingTV': 'streaming_tv',
    'Tipo_Contrato': 'tipo_contrato',
    'PaymentMethod': 'forma_pagamento',
    'Pagamento_Mensal': 'pagamento_mensal',
    'Total_Pago': 'total_pago',
    'Churn': 'cancelou'
}, inplace=True)

df.columns

Index(['id_cliente', 'genero', 'idoso', 'casado', 'dependentes',
       'tempo_como_cliente', 'servico_telefonico', 'servico_internet',
       'servico_seguranca', 'suporte_tecnico', 'streaming_tv', 'tipo_contrato',
       'forma_pagamento', 'pagamento_mensal', 'total_pago', 'cancelou'],
      dtype='object')